*{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}
header .nav{
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
header .nav button{
    font-family: 'Indie Flower', cursive;
    background: cornflowerblue;
    font-size: 30px;
    color: #f2f2f2;
    width: 50%;
    border: none;
    transition: all .4s ease;
}
header .nav button:hover{
    background:rgba(19, 131, 9, 0.61);
    cursor: pointer;
    color: white;
}
header .city{
    width: 100%;
    text-align: center;
}
header .city h2{
    font-size: 80px;
}
header .city p{
    font-size: 20px;
}
header #crear{
    margin: auto;
    padding: 50px;
    margin-top: 20px;
    border-radius: 30px;
    width: 50%;
    background: #f2f2f2;
}
header #crear button{  
    width: 75%;
}